<nav class="navbar navbar-expand sticky-top navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <div class="navbar-nav">
            <% if (navbarActive == 2) { %>
                <a class="nav-item nav-link active" href="/newadvertisement/submit"><i class="fa fa-upload"></i> Submit new advertisement</a>
                <a class="nav-item nav-link" href="/list"><i class="fa fa-list"></i> List advertisements</a>
                <a class="nav-item nav-link" href="/chat"><i class="fa fa-street-view"></i> Chat</a>
            <% } else if (navbarActive == 1) { %>
                <a class="nav-item nav-link" href="/newadvertisement/submit"><i class="fa fa-upload"></i> Submit new advertisement</a>
                <a class="nav-item nav-link active" href="/list"><i class="fa fa-list"></i> List advertisements</a>
                <a class="nav-item nav-link" href="/chat"><i class="fa fa-street-view"></i> Chat</a>
            <% } else if (navbarActive == 6) { %>
                <a class="nav-item nav-link" href="/newadvertisement/submit"><i class="fa fa-upload"></i> Submit new advertisement</a>
                <a class="nav-item nav-link" href="/list"><i class="fa fa-list"></i> List advertisements</a>
                <a class="nav-item nav-link active" href="/chat"><i class="fa fa-street-view"></i> Chat</a>
            <% } else { %>
                <a class="nav-item nav-link" href="/newadvertisement/submit"><i class="fa fa-upload"></i> Submit new advertisement</a>
                <a class="nav-item nav-link" href="/list"><i class="fa fa-list"></i> List advertisements</a>
                <a class="nav-item nav-link" href="/chat"><i class="fa fa-street-view"></i> Chat</a>
            <% } %>
        </div>
        <div class="navbar-nav navbar-right">
            <% if (loginName) { %>
                <% if (navbarActive == 5) { %>
                    <a class="nav-item nav-link active" href="/user/details"><i class="fa fa-user"></i> <%= loginName %></a>
                <% } else { %>        
                    <a class="nav-item nav-link" href="/user/details"><i class="fa fa-user"></i> <%= loginName %></a>
                <% } %>
                <a class="nav-item nav-link" href="/user/logout"><i class="fa fa-minus"></i> Logout</a>
            <% } else { %>
                <% if (navbarActive == 3) { %>
                    <a class="nav-item nav-link active" href="/user/login"><i class="fa fa-plus"></i> Login</a>
                    <a class="nav-item nav-link" href="/user/register"><i class="fa fa-user-plus"></i> Register</a>
                <% } else if (navbarActive == 4) { %>
                    <a class="nav-item nav-link" href="/user/login"><i class="fa fa-plus"></i> Login</a>
                    <a class="nav-item nav-link active" href="/user/register"><i class="fa fa-user-plus"></i> Register</a>
                <% } else { %>
                    <a class="nav-item nav-link" href="/user/login"><i class="fa fa-plus"></i> Login</a>
                    <a class="nav-item nav-link" href="/user/register"><i class="fa fa-user-plus"></i> Register</a>
                <% } %>
            <% } %>
        </div>
    </div>
</nav>