<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <!-- <script src='/main.js'></script> -->
</head>
<body>
    <nav>
        <a href="/hirdetesek">Beszúrás</a>
        <a href="/">Listázás</a>
        <a href="/felhasznalo">Bejelentkezés</a>
        <a href="/felhasznalo/register">Regisztráció</a>

        <a href="/felhasznalo/logout">Kijelentkezés</a>

        <p>Currently logged in: <%= username %></p>
    </nav>

    <div id="forms">
        <form id="searchForm" method="POST" action="/felhasznalo/loginUser">
            <p>Bejelentkezési felület</p>
            <label for="loginFelhasznalo">Felhasználónév</label>
            <input type="text" name="loginFelhasznalo" id="loginFelhasznalo" required>
            <label for="loginJelszo">Jelszó</label>
            <input type="password" name="loginJelszo" id="loginJelszo" required>

            <input type="submit" value="Bejelentkezés!">
        </form>
    </div>

    <p><%= error %></p>
</body>
</html>