<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <% if (errMsg) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= errMsg %></div>
    <% } else if (successMsg) { %>
        <div class="alert alert-success" role="alert"><%= successMsg %></div>
    <% } %>
    <br><br>
    <form method="POST" action="/user/storeNewPassword?token=<%= userToken %>" class="col-md-3 center-form">
        <div class="form-group">
            <label for="prPW">New password</label>
            <input type="password" class="form-control" name="prPW" id="prPW" placeholder="New password">
        </div>
        <div class="form-group">
            <label for="prPW2">New password (confirmation)</label>
            <input type="password" class="form-control" name="prPW2" id="prPW2" placeholder="New password">
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-danger" value="Change password">
        </div>
    </form>
</body>
</html>