::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #CCC;
}

::-webkit-scrollbar-thumb {
    background: #dc3546;
}

::-webkit-scrollbar-thumb:hover {
    background: #d92335;
}


form {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.navbar-right {
    margin-left: auto;
}

.card {
    width: 18rem;
    margin: 5px;
    padding: 10px;
}

.btn-group {
    margin: 5px;
}

.btn-group > button {
    width: 100px;
}

.center-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-form-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 24rem;
}

.advertisementPhoto {
    max-width: 400px;
    max-height: 300px;
}