body {
    background-color: rgb(249, 143, 98);
}

#forms {
    display: flex;
    align-items: center;
}

form {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
}

form > * {
    margin: 5px;
}

form > p {
    text-align: center;
}

#lista {
    border: 1px solid black;
}

#lista > .list-item {
    background-color: tomato;
    border: 3px solid coral;
    margin: 10px;
    color: white;
    /* width: 40rem; */
}

/* body {
    margin: 0px;
} */

nav {
    display: flex;
    background-color: tomato;
    height: 60px;
    align-items: center;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid rgb(246, 80, 19);
    border-radius: 5px;
    background-color: coral;
    width: 100px;
    text-align: center;
    transition: 0.3s;
}

nav > a:hover {
    padding: 15px;
}